<div class="container">
  <table align="center" class="table">
    <thead>
      <tr bgcolor="#cccccc">
        <th>Equipo</th>
        <th>Ciudad</th>
        <th>Entrenador</th>
        <th>Estadio</th>
        <th>Capacidad</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Aucas</td>
        <td>Quito</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Venezuela"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/0/06/Flag_of_Venezuela.svg/15px-Flag_of_Venezuela.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/0/06/Flag_of_Venezuela.svg/23px-Flag_of_Venezuela.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/0/06/Flag_of_Venezuela.svg/30px-Flag_of_Venezuela.svg.png 2x
              " data-file-width="900" data-file-height="600" />
          </span>
          César Farías
        </td>
        <td>Gonzalo Pozo Ripalda</td>
        <td align="center">18&nbsp;799</td>
      </tr>
      <tr>
        <td>Barcelona</td>
        <td>Guayaquil</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Fabián Bustos
        </td>
        <td>
          Monumental Isidro Romero Carbo<sup id="cite_ref-BSCLIB_14-0" class="reference separada"><span
              class="corchete-llamada"></span></sup>&ZeroWidthSpace;
        </td>
        <td align="center">57&nbsp;267</td>
      </tr>
      <tr>
        <td>Cumbayá</td>
        <td>Quito</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Patricio Hurtado
        </td>
        <td>Olímpico Atahualpa</td>
        <td align="center">38&nbsp;500</td>
      </tr>
      <tr>
        <td>Delfín</td>
        <td>Manta</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Guillermo Duró
        </td>
        <td>Jocay</td>
        <td align="center">20&nbsp;000</td>
      </tr>
      <tr>
        <td>Deportivo Cuenca</td>
        <td>Cuenca</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Gabriel del Valle
        </td>
        <td>Serrano Aguilar</td>
        <td align="center">16&nbsp;500</td>
      </tr>
      <tr>
        <td>El Nacional</td>
        <td>Quito</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Paraguay"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Paraguay.svg/15px-Flag_of_Paraguay.svg.png"
              decoding="async" width="15" height="8" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Paraguay.svg/23px-Flag_of_Paraguay.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/2/27/Flag_of_Paraguay.svg/30px-Flag_of_Paraguay.svg.png 2x
              " data-file-width="1200" data-file-height="660" /></span>
          Ever Hugo Almeida
        </td>
        <td>Olímpico Atahualpa</td>
        <td align="center">38&nbsp;500</td>
      </tr>
      <tr>
        <td>Emelec</td>
        <td>Guayaquil</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Miguel Rondelli
        </td>
        <td>George Capwell</td>
        <td align="center">40&nbsp;000</td>
      </tr>
      <tr>
        <td>Gualaceo</td>
        <td>Gualaceo</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Leonardo Vanegas
        </td>
        <td>Jorge Andrade Cantos</td>
        <td align="center">14&nbsp;000</td>
      </tr>
      <tr>
        <td>Guayaquil City</td>
        <td>Guayaquil</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Pool Gavilánez
        </td>
        <td>Christian Benítez Betancourt</td>
        <td align="center">10&nbsp;150</td>
      </tr>
      <tr>
        <td>Independiente del Valle</td>
        <td>Sangolquí</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Martín Anselmi
        </td>
        <td>Banco Guayaquil</td>
        <td align="center">12&nbsp;000</td>
      </tr>
      <tr>
        <td>Libertad</td>
        <td>Loja</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Paúl Vélez
        </td>
        <td>Reina del Cisne</td>
        <td align="center">14&nbsp;935</td>
      </tr>
      <tr>
        <td>Liga Deportiva Universitaria</td>
        <td>Quito</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Argentina"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/15px-Flag_of_Argentina.svg.png"
              decoding="async" width="15" height="9" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/23px-Flag_of_Argentina.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/1/1a/Flag_of_Argentina.svg/30px-Flag_of_Argentina.svg.png 2x
              " data-file-width="800" data-file-height="500" /></span>
          Luis Zubeldía
        </td>
        <td>Rodrigo Paz Delgado</td>
        <td align="center">41&nbsp;575</td>
      </tr>
      <tr>
        <td>Mushuc Runa</td>
        <td>Ambato</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Geovanny Cumbicus
        </td>
        <td>Mushuc Runa COAC</td>
        <td align="center">8200</td>
      </tr>
      <tr>
        <td>Orense</td>
        <td>Machala</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Ecuador"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/15px-Flag_of_Ecuador.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/23px-Flag_of_Ecuador.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/e/e8/Flag_of_Ecuador.svg/30px-Flag_of_Ecuador.svg.png 2x
              " data-file-width="1440" data-file-height="960" /></span>
          Juan Carlos León
        </td>
        <td>9 de Mayo</td>
        <td align="center">17&nbsp;800</td>
      </tr>
      <tr>
        <td>Técnico Universitario</td>
        <td>Ambato</td>
        <td>
          <span class="flagicon"><img alt="Bandera de Colombia"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/15px-Flag_of_Colombia.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/23px-Flag_of_Colombia.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/2/21/Flag_of_Colombia.svg/30px-Flag_of_Colombia.svg.png 2x
              " data-file-width="900" data-file-height="600" /></span>
          Juan Pablo Buch
        </td>
        <td>Bellavista</td>
        <td align="center">16&nbsp;467</td>
      </tr>
      <tr>
        <td>Universidad Católica</td>
        <td>Quito</td>
        <td>
          <span class="flagicon"><img alt="Bandera de España"
              src="//upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/15px-Flag_of_Spain.svg.png"
              decoding="async" width="15" height="10" class="thumbborder" srcset="
                //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/23px-Flag_of_Spain.svg.png 1.5x,
                //upload.wikimedia.org/wikipedia/commons/thumb/9/9a/Flag_of_Spain.svg/30px-Flag_of_Spain.svg.png 2x
              " data-file-width="750" data-file-height="500" /></span>
          Igor Oca
        </td>
        <td>Olímpico Atahualpa</td>
        <td align="center">38&nbsp;500</td>
      </tr>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
