<body>
  <div class="container">
    <!--HEADER PARA DIRIGIR A LOS FORMULARIOS-->

    <header class="d-flex justify-content-center py-2 ">
      <ul class="nav nav-pills">
        <li class="nav-item"><a  class="nav-link active" disable aria-current="page" routerLinkActive="active" [routerLink]="['inicio']">Home</a></li>
        <li class="nav-item"><a  class="nav-link">Features</a></li>
        <li class="nav-item"><a  class="nav-link">Pricing</a></li>
        <li class="nav-item"><a  class="nav-link">FAQs</a></li>
        <li class="nav-item"><a  class="nav-link">About</a></li>
      </ul>
    </header>
    <hr>
    <nav class="nav  nav-pills d-flex justify-content-between">

      <a class="p-2 link-secondary" routerLinkActive="active" [routerLink]="['inicio']">HOME</a>
      <a class="p-2 link-secondary" routerLinkActive="active" [routerLink]="['jugador']">JUGADORES</a>
      <a class="p-2 link-secondary" routerLinkActive="active" [routerLink]="['agregar']">ESTADISTICAS</a>
      <a class="p-2 link-secondary" routerLinkActive="active" [routerLink]="['clubes']">CLUBES</a>
      <a class="p-2 link-secondary" routerLinkActive="active" href="http://localhost:8080/swagger-ui.html#/">SWAGGER-UI</a>

    </nav>
  </div>
  <br>

  <router-outlet></router-outlet>


</body>
