
  <!--CARUSEL PARA MOSTRAR INFORMACION-->
  <main class="container">
    <div class="p-4 p-md-5 mb-4 rounded text-bg-dark">
  <div class="row">
    <div class="col-6"> <h1 class="display-4 fst-italic">LIGA PRO ECUADOR</h1>
        <p class="lead my-3">La Serie A de Ecuador, denominada con su nombre comercial LigaPro Bet593, es la máxima categoría del sistema de ligas de fútbol de Ecuador, organizada a partir de 2019 por la Liga Profesional de Fútbol del Ecuador. Hasta 2018 fue organizada por la Federación Ecuatoriana de Fútbol.</p>
      </div>
    <div class="col-6">
      <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://upload.wikimedia.org/wikipedia/commons/2/22/Football_of_Ecuador_-_Liga_Pro_logo_%28mini%29.svg" class="d-block w-100"  width="200px" height="360px">
          </div>

          <div class="carousel-item">
            <img src="" class="d-block w-100"  width="200px" height="360px">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    </div>
    </div>
  <!--MOSTRAR INFORMACION EN TARGETS-->
    <div class="row mb-2">
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-primary">Clubes</strong>
            <h3 class="mb-0">Barcelona</h3>
            <div class="mb-1 text-muted">Ene 16</div>
            <p class="card-text mb-auto">Unos de los mejores clubes actuales en Ecuador, a contado con grandes figuras que han representado en la seleccion Ecuatoriana.</p>
        </div>
          <div class="col-auto d-none d-lg-block">
         <img  class="mt-4 px-2" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/f1/Barcelona-sc-logo.png/800px-Barcelona-sc-logo.png" height="200px" width="200px">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
          <div class="col p-4 d-flex flex-column position-static">
            <strong class="d-inline-block mb-2 text-success">Historia</strong>
            <h3 class="mb-0">Jugadores Historia</h3>
            <div class="mb-1 text-muted">Ene 16</div>
            <p class="mb-auto">José Francisco Cevallos: El mejor portero de la historia del fútbol ecuatoriano. "Las manos del Ecuador" es el guardameta prodigio.</p>

          </div>
          <div class="col-auto d-none d-lg-block">
  <img src="https://i.pinimg.com/564x/b0/4e/36/b04e361fa97ee99279e00b156e7c9d07.jpg" class="mt-4" height="200px" width="200px">
         </div>
        </div>
      </div>
    </div>
  </main>
